.card-description {
    width: 350px;
    height: 420px;
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 16px -4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    position: relative;
    margin-top: -20px;
    z-index: 2;
}

.price-title {
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-bottom: 14px;
   

}

.card-title, .price {
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-align: right;
padding-right: 150px;
}


.description {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-bottom: 14px;
}

.pallini {
    display: flex;
   flex-wrap: wrap;

}

.colore-pallini {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
}



