.App {
  text-align: center;
}

.top {
   background-color: rgba(17, 25, 29, 0.65);
    width: 100vw;
    left: 0;
    bottom: 0;
}

.foto {
  height: 30vh;
  border-radius: 100%;
}


.App .CV {
  background-color: #6d546d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: whitesmoke;
}


.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;

}

label {
  display: block;
}

.Mycontacts {

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  height: 400px;
}

#msg {
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  width: 650px;
  height: 48px;
}

#obj {
  margin-bottom: 20px;
}

.footer {
  background-color: rgba(17, 25, 29, 0.65);
  width: 100vw;
  left: 0;
  bottom: 0;

}